@model IEnumerable<OpenPosition>

@{
    ViewData["Title"] = "HR Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Requested Positions</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                <button class="btn btn-success" data-id="@item.Id" data-action="approve">Approve</button>
            </td>
            <td>
                <button class="btn btn-secondary" data-id="@item.Id" data-action="decline">Decline</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready( function () {
            $('button').click((evt) => {
                let id = $(evt.currentTarget).data('id');
                let action = $(evt.currentTarget).data('action');
                let url = action === 'approve' ?
                    '@Url.Action("HRApproveRequest", "Home")/' :
                    '@Url.Action("HRDeclineRequest", "Home")/';
                
                $.ajax({
                    url: url + id,
                    type: 'POST',
                    success: function (data) {
                        document.location.reload();
                    },
                    failure: function (data) {
                        alert(data);
                    } 
                });
            });
        });
    </script>
}
