@model HireApprovalRequest

@{
    ViewBag.Title = "Approve Hire Request";
    Layout = "_Layout";
}

<h2>Approve Hire Request</h2>

<h4>Role: @Model.OpenPosition.DepartmentPosition.Role.Name</h4>

<div class="form w-25">
    <button class="form-control my-2 btn btn-success" data-action="approve">Approve</button>
    <button class="form-control my-2 btn btn-danger" data-action="reject">Reject</button>
</div>

@section Scripts {
    <script>
        $(document).ready( function () {
            $('button').click((evt) => {
                let id = @Model.OpenPosition.Id;
                let action = $(evt.currentTarget).data('action');
                let url = action === 'approve' ?
                    '@Url.Action("LeadershipApprove", "Home")/' :
                    '@Url.Action("LeadershipReject", "Home")/';
                
                $.ajax({
                    url: url + id,
                    type: 'POST',
                    data: {
                        code: '@Model.ApprovalCode',
                    },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        document.location.href = '@Url.Action("ThanksPage", "Home", new { reason = "responding to this approval request"})';
                    },
                    failure: function (data) {
                        alert(data);
                    } 
                });
            });
        });
    </script>
}
